@model ForumDemo.ViewModels.Main.ReplyViewModel

@{
    ViewData["Title"] = "Reply - " + Model.Topic.Title;
}

<a asp-controller="Topic" asp-action="Index" asp-route-id="@Model.Topic.Id">Back to topic</a>

<form asp-action="Reply" method="post">
    <input hidden asp-for="Topic.Id" />
    <label asp-for="Contents"></label>
    <textarea asp-for="Contents"></textarea>
    <button type="submit">Send</button>
</form>
