@model ForumDemo.ViewModels.Main.EditPostViewModel

@{
    ViewData["Title"] = "Editing post - " + Model.Post.Topic.Title;
}

<a asp-controller="Topic" asp-action="Index" asp-route-id="@Model.Post.Topic.Id">Back to topic</a>

<form asp-action="Edit" method="post">
    <input hidden asp-for="Post.Id" />
    <input hidden asp-for="Post.Topic.Id" />
    <label asp-for="Contents"></label>
    <textarea asp-for="Contents"></textarea>
    <button type="submit">Send</button>
</form>
