@model ForumDemo.ViewModels.Main.CreateTopicViewModel

@{
    ViewData["Title"] = "Creating topic - " + Model.Forum.Title;
}

<a asp-controller="Forum" asp-action="Index" asp-route-id="@Model.Forum.Id" asp-route-urltitle="@Model.Forum.UrlTitle">Back to forum</a>

<form asp-action="Add" method="post">
    <input hidden asp-for="Forum.Id" />
    <label asp-for="Title"></label>
    <input asp-for="Title"/>
    <label asp-for="Description"></label>
    <input asp-for="Description"/>
    <label asp-for="Contents"></label>
    <textarea asp-for="Contents"></textarea>
    <button type="submit">Create</button>
</form>
