@model ForumDemo.ViewModels.Main.ForumListModel

@{
    ViewData["Title"] = "Forum";
}

<table class="table table-hover">
    <tbody>
        @foreach (var forum in Model.ForumList) 
        {
            <tr>
                <td>
                    @forum.Title
                </td>
            </tr>
            @foreach (var topic in forum.Topics)
            {
            <tr>
                <td>
                    @topic.Title
                </td>
            </tr>
            }
        }
    </tbody>
</table>
