@model ForumDemo.ViewModels.Main.ForumListModel

@{
    ViewData["Title"] = "Forum";
}

<table class="table table-hover">
    <tbody>
        @foreach (var forum in Model.ForumList) 
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Index" asp-route-id="@forum.Id">@forum.Title</a>
                </td>
            </tr>
        }
    </tbody>
</table>
